{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}
<!-- Event Modal 1 -->
<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>App Development</h2>
            <p class="item-intro">Bring out the creator in you.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/poster/app.png' %}" alt="image here">
            <p>This is an application development competition. Participants can have individual participation or group participation. The winner will be decided by beta testing of the app, i.e., the participant(s) will have to promote his/her/their app so that people install it on their devices and give their reviews or rating.
            </p>
            <a href="http://goo.gl/forms/dborgsp8CT" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
            <p>Level Registrations will close on the day before the starting of level 1.</p>
            <div class="table-responsive">
              <table class='table'>
                <tr>
                  <td>Level 1</td>
                  <td>Submission of SDLC and judgment- 24th feb.</td>
                </tr>
                <tr>
                  <td>Level 2</td>
                  <td>Live demo of working of the App(terminal run) - 3rd March.</td>
                </tr>
                <tr>
                  <td>Level 3</td>
                  <td>Final submission of the app in the .apk format. – 12th/13th March.</td>
                </tr>
              </table>
            </div>
            <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5RTlpei1fUHcyMzA/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}
