{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

             <h2>Code Conclave</h2>
            <p class="item-intro">Be Greedy ! Be Brutal ! </p>
            <img class="img-responsive img-centered" src="{% static 'app/img/code_event.png' %}" alt="image here">
            <p>Code Conclave embraces the real scrutiny of your programming prowess. Fortify yourself to race against time.
              You will be tested for your competence in your programming, coordination and ability to visualise in the peak of time.</p>

            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}