{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

             <h2>Code Conclave</h2>
            <p class="item-intro">Be Greedy ! Be Brutal ! </p>
            <img class="img-responsive img-centered" src="{% static 'app/img/code_event.png' %}" alt="image here">
            <p>Code Conclave embraces the real scrutiny of your programming prowess. Fortify yourself to race against time.
              You will be tested for your competence in your programming, coordination and ability to visualise in the peak of time.</p>

            <a href="https://drive.google.com/file/d/0B5iiTEqAQuR5M2t4ektydW13Qms/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
            <div class="table-responsive">
              <table class='table'>
                <tr>
                  <td>Level 1</td>
                  <td>Eliminator - 27th February.</td>
                </tr>
                <tr>
                  <td>Level 2</td>
                  <td>Knock Out – 29th Febuary.</td>
                </tr>
                <tr>
                  <td>Level 3</td>
                  <td>Coding Finale - 12th/13th March (during the event at JEC).</td>
                </tr>
              </table>
            </div>

             <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5QlFrSDBWLUd4eHM/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p> 

          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}
