{% extends 'base.html' %}
{% load staticfiles %}

{% block event %}
<div id="works-section" class="text-center">
  <div class="container"> <!-- Container -->
    <div class="section-title wow fadeInDown">
      <h2>Events</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>Technical, Social, Entrepreneurship, Entertainment, Personality development, Alumni, Industrial, Motivational talks.</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg"> <a href="app/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>App Development</h4>
                 Bring out the creator in you.
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/mobileapp.png' %}" class="img-responsive" alt="Event Title 1"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="smart/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Jabalpur Smart City Challenge</h4>
                Your ideas. Your smart city.
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/smart_city.png' %}" class="img-responsive" alt="Event Title 2"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
            <div class="hover-bg"> <a href="startup/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Build A Business</h4>
                Ready. Get set. "Start Up."
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/startup.png' %}" class="img-responsive" alt="Event Title 3"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
            <div class="hover-bg"> <a href="roundtable/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Round Table Conclave</h4>
                Your opinion MATTERS!
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/panel.png' %}" class="img-responsive" alt="Event Title 4"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
            <div class="hover-bg"> <a href="photo/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Humans Of JEC</h4>
                Photography
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/photography.png' %}" class="img-responsive" alt="Event Title 5"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
            <div class="hover-bg"> <a href="code/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Code Conclave</h4>
                Be Greedy! Be Brutal!
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/code_event.png' %}" class="img-responsive" alt="Event Title 6"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
            <div class="hover-bg"> <a href="mockcamp/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Mock Campus</h4>
                Ready for a job?
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/job.png' %}" class="img-responsive" alt="Event Title 7"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1600ms">
            <div class="hover-bg"> <a href="mockupsc/" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Mock UPSC</h4>
                The Administrator!
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/upsc.png' %}" class="img-responsive" alt="Event Title 8"> </a> </div>
          </div>
        </div>
        <!-- <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Learners</h4>
                Open your minds with our interactive workshops.
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img id="workshop" src="{% static 'app/img/workshop.png' %}" class="img-responsive" alt="Event Title 9"> </a> </div>
          </div>
        </div>  -->
      <h2>Stay tuned for more..</strong></h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}