{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}



<div id="works-section" class="text-center">
  <div class="container"> <!-- Container -->
    <div class="section-title wow fadeInDown">
      <h2>Gallery</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>Check out the moments captured at Helix 2016</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/4nd4t4p.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/VtZ3v3m.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/Y4FSgJB.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/839teyH.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/m140hQ7.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/8QDZ7skh.jpg" class="img-responsive" alt="Event Title 1" width="500"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/CZVCwuf.jpg" class="img-responsive" alt="Event Title 1" width="500"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/WdUPZ2eh.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/40rCXeM.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
                <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/Mito56L.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/IAA6qCo.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/Mito56L.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/YOHJMLO.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/Fawt6AT.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/zreBP0L.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/p4VqgTd.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/h7sRCDv.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/2GYjyDm.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/2p0syXa.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/5lCCNLj.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/khNBdOY.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        <div class="col-sm-4 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <img src="http://i.imgur.com/XAj9DgK.jpg" class="img-responsive" alt="Event Title 1"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}