<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Helix JEC 2016</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- OpenGraph Meta -->
<meta property="og:image" content="{% static 'app/img/dna.gif' %}" />
<meta property="og:title" content="Helix 2016" />
<meta property="og:type" content="website" />  
<meta property="og:description" content="Annual Techno Management Fest" />

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'app/img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'app/img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'app/img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'app/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Slider
    ================================================== -->
<link href="{% static 'app/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'app/css/owl.theme.css' %}" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/animate.min.css' %}">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'app/js/modernizr.custom.js' %}"></script>

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{% static 'app/js/double-helix.jquery.js' %}" type="text/javascript"></script>
<script type="text/javascript">
      $(window).ready(function() {
        var canvas = $("<canvas />");
        canvas.attr({ width: 400, height: $(document).height() });
        $("#demo").append(canvas);
        canvas.DoubleHelix();
      });
    </script>
</head>
<body>
<!-- Hi ! Glad you are here ! :D

  I built it xoxo

  Regards,
  The Developer
-->

<div id="preloader">
  <div id="status"> <img src="{% static 'app/img/preloader.gif' %}" height="64" width="64" alt=""> </div>
</div>

<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"><strong><span class="color">Helix</span></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">Home</a></li>
        <!-- <li><a href="#services-section" class="page-scroll">Services</a></li> -->
        <li><a href="#works-section" class="page-scroll">Events</a></li>
        <li><a href="#contact-section" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1 class="wow fadeInDown"><strong><span class="color"><img src="{% static 'app/img/logo1.png' %}" class="img-logo" alt=""> </span></strong></h1>
    <p class="wow fadeInDown"></p>
        <p class="wow fadeInDown"></p>

    <p class="wow fadeInDown"></p>

</header>

<!-- Services Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>What is <strong>Helix ?</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>Helix is the Inter College Techno-Management fest of Jabalpur Engineering College. It is a platform where experience empowers intellect. Helix was started in 2012-13 as a conference where technology and design converged. Helix today shares the ideas from Technology (science) to business to social issues.<br><br>

The event is about spreading ideas in full capacity in various diverse fields like technology, creativity, motivation, social, entrepreneurship and many more. The basic motive behind this fest is to provide an opportunity for the overall development of the students.<br><br>

Helix provides stage to the well known speakers of different domains for the benefit of students of Jabalpur Engineering College. Speakers of this fest are proclaimed expertise of their field. Sharing their experience will help immensely the students in every walk of life.<br><br>

Helix aims at exploring minds of students and sending a thought provoking wave for the betterment of the bigger picture.</p>
    </div>
    <div class="space"></div>

    <!-- NOTABLE EVENTS (IF REQUIRED) -->

    <!-- <div class="row">
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms">
        <h4><strong>Event Category 1</strong></h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="400ms">
        <h4><strong>Event Category 2</strong></h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms">
        <h4><strong>Event Category 3</strong></h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms">
        <h4><strong>Event Category 3</strong></h4>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
      </div>
    </div> -->

  </div>
</div>


<!-- Blurred Jashan -->
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      </div>

      </div>
    </div>
  </div>
</div>


<!-- Events Section -->
<div id="works-section" class="text-center">
  <div class="container"> <!-- Container -->
    <div class="section-title wow fadeInDown">
      <h2>Events</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>Technical, Social, Entrepreneurship, Entertainment, Personality development, Alumni, Industrial, Motivational talks.</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>App Development</h4>
                 Bring out the creator in you.
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/mobileapp.png' %}" class="img-responsive" alt="Event Title 1"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Jabalpur Smart City Challenge</h4>
                Your ideas. Your smart city.
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/smart_city.png' %}" class="img-responsive" alt="Event Title 2"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
            <div class="hover-bg"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Build A Business</h4>
                Ready. Get set. "Start Up."
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/startup.png' %}" class="img-responsive" alt="Event Title 3"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
            <div class="hover-bg"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>The Round Table Conclave</h4>
                Your opinion MATTERS!
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/panel.png' %}" class="img-responsive" alt="Event Title 4"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
            <div class="hover-bg"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Humans Of JEC</h4>
                Photography
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/photography.png' %}" class="img-responsive" alt="Event Title 5"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
            <div class="hover-bg"> <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Code Conclave</h4>
                Be Greedy! Be Brutal!
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/code_event.png' %}" class="img-responsive" alt="Event Title 6"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
            <div class="hover-bg"> <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Mock Campus</h4>
                Ready for a job?
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/job.png' %}" class="img-responsive" alt="Event Title 7"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1600ms">
            <div class="hover-bg"> <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Mock UPSC</h4>
                The Administrator!
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="{% static 'app/img/upsc.png' %}" class="img-responsive" alt="Event Title 8"> </a> </div>
          </div>
        </div>
        <!-- <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Learners</h4>
                Open your minds with our interactive workshops.
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img id="workshop" src="{% static 'app/img/workshop.png' %}" class="img-responsive" alt="Event Title 9"> </a> </div>
          </div>
        </div>  -->
      <h2>Stay tuned for more..</strong></h2>
      </div>
    </div>
  </div>
</div>

<!-- IF SPEAKER SECTION IS ENABLED:
  * SWAP CSS OF #team-section and #contact-section
  * so that we have alternate color bands :)
-->


<!-- Speakers Section -->
<!-- <div id="team-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>Meet the <strong>Team</strong></h2>
      <hr>
      <div class="clearfix"></div>      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
        <div class="thumbnail"> <img src="{% static 'app/img/team/01.jpg' %}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Jessica Wally</h3>
            <p>CEO / Founder</p>
                        <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
        <div class="thumbnail"> <img src="{% static 'app/img/team/02.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Mike Sloan</h3>
            <p>Web Designer</p>
                        <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
        <div class="thumbnail"> <img src="{% static 'app/img/team/03.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Michele Doe</h3>
            <p>Web Designer</p>
                       <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
        <div class="thumbnail"> <img src="{% static 'app/img/team/04.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Larry Evans</h3>
            <p>Project Manager</p>
                        <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Contact Section -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>Contact</strong> us</h2>
      <hr>
      <p>We'd love to hear from you!</p>
    </div>
    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p>Jabalpur Engineering College<br>
          Gokulpur, Jabalpur, 482011</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>helix@jecjabalpur.ac.in</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> +91 898-921-1150</p>
        <p> +91 738-949-1911</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="400ms">
        <h3>Leave us a message</h3>
      <form method="POST" action="/">
        {% csrf_token%}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" name='name' class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" name='email' class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" name='message' class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-dange"></p>
        </div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/helixjec/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com/HelixJec/"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.github.com/jec-dev/"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
      <p>© 2016 Jabalpur Engineering College. All Rights Reserved.<br>Built with <span id="heart">&hearts;</span> by <a href="https://github.com/jec-dev/" rel="nofollow">jec-dev</a></p>
  </div>
</div>

<!-- Event Modals --> 
<!-- Use the modals below to showcase details about your portfolio projects! --> 

<!-- Event Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>App Development</h2>
            <p class="item-intro">Bring out the creator in you.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/mobileapp.png' %}" alt="image here">
            <p>This is an application development competition. Participants can have individual participation or group participation. The winner will be decided by beta testing of the app, i.e., the participant(s) will have to promote his/her/their app so that people install it on their devices and give their reviews or rating.
            </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>My Smart City Jabalpur</h2>
            <p class="item-intro">Your ideas. Your smart city.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/smart_city.png' %}" alt="image here">
            <p>A platform for the aspiring engineers to paint the canvas of their city with their innovative ideas. Ideas, which can promote economic opportunities, better governance and provide physical, social & economical infrastructure
              in Jabalpur.</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>Build A Business</h2>
            <p class="item-intro">Ready. Get set. "Start Up."</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/startup.png' %}" alt="image here">
            <p>Time to portray your ideas to the world. In the spirit of promoting entrepreneurship in our society, we aim at giving young entrepreneurs a platform to showcase their business ideas that generate a social impact with financial sustainability. Inspired by the recent Startup India mission of our Prime Minister, we put young minds to a scaffold through this competition by letting them explore their local/global market and grab the opportunities in our country which currently has the third largest number of startups in the world and an immensely fast growing economy.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>The Round Table Conclave</h2>
            <p class="item-intro">Your opinion MATTERS!</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/panel.png' %}" alt="image here">
            <p>This event will host a number of renowned personalities as our panelists. They will exchange their ideas and discussvarious technological aspects, by asking questions or reacting to the opinions of other panel members. This will be followed by a question and answer session by the students. This event is directed towards providing a useful
             way to trigger an exchange of viewpoints among experts for the awareness and upliftment of our society.</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>Humans of JEC</h2>
            <p class="item-intro">A pictorial story of life at JEC.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/photography.png' %}" alt="here">
            <p>The quintessence of a scenario lies in the eyes of the one who pictures it from one's own imagination.
And there is no better way of demonstrating that beauty than capturing it through the eyes of your camera lens.<br>

Helix gives you a chance to bring out your unique visions to the world through the art of photography. Let the silence speak, let the stills move into life.</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>Code Conclave</h2>
            <p class="item-intro">Be Greedy ! Be Brutal ! </p>
            <img class="img-responsive img-centered" src="{% static 'app/img/code_event.png' %}" alt="image here">
            <p>Code Conclave embraces the real scrutiny of your programming prowess. Fortify yourself to race against time.
              You will be tested for your competence in your programming, coordination and ability to visualise in the peak of time.</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>Mock Campus</h2>
            <p class="item-intro">You are HIRED!</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/job.png' %}" alt="image here">
            <p>Mock Campus will provide a platform to the students for their SWOT analysis in terms of their preparation for the upcoming campus drives. The mock campus simulates exactly the company recruitment process with the same vigor and rigour. This mock will have a written test, interview and group discussion.</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>Mock UPSC</h2>
            <p class="item-intro">The Administrator!</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/upsc.png' %}" alt="image here">
            <p>Mock UPSC will test the aspirants preparing for civil services and avail them with an opportunity to judge their preparations at all three stages. This event will comprise of the preliminary test, mains and personal interview (by a panel of senior IAS/IPS).</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Modal 9 -->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->
            <h2>Learners</h2>
            <p class="item-intro">Open your minds with our interactive workshops.</p>
            <img class="img-responsive img-centered" src="" alt="image here">
            <p>At Helix students will get a hands-on experience on various disciplines ofengineering, providing the students a wider perspective of technical area. Under the ambit of this event, we will organize several workshops. Experts from leading companies will act as workshop coordinators.</p>

            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
            <h2><br>Coming Soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{% static 'app/https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="{% static 'app/js/jquery.1.11.1.js' %}"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'app/js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'app/js/wow.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'app/js/jquery.prettyPhoto.js' %}"></script> 
<script type="text/javascript" src="{% static 'app/js/jquery.isotope.js' %}"></script> 
<!-- <script type="text/javascript" src="{% static 'app/js/jqBootstrapValidation.js' %}"></script> -->
<script type="text/javascript" src="{% static 'app/js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'app/js/owl.carousel.js' %}"></script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="{% static 'app/js/main.js' %}"></script>
</body>
</html>
