{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>Mock UPSC</h2>
            <p class="item-intro">The Administrator!</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/upsc.png' %}" alt="image here">
            <p>Mock UPSC will test the aspirants preparing for civil services and avail them with an opportunity to judge their preparations at all three stages. This event will comprise of the preliminary test, mains and personal interview (by a panel of senior IAS/IPS).</p>

            <a href="http://goo.gl/forms/0HkX0DEYwZ" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}