{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>Mock Campus</h2>
            <p class="item-intro">You are HIRED!</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/poster/mock.png' %}" alt="image here">
            <p>Mock Campus will provide a platform to the students for their SWOT analysis in terms of their preparation for the upcoming campus drives. The mock campus simulates exactly the company recruitment process with the same vigor and rigour. This mock will have a written test, interview and group discussion.</p>

            <a href="https://drive.google.com/file/d/0B5iiTEqAQuR5cGstNlFEcUVPdUk/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
            <div class="table-responsive">
              <table class='table'>
                <tr>
                  <td>Level 1</td>
                  <td>Written Test - 4th March 2016</td>
                </tr>
                <tr>
                  <td>Level 2</td>
                  <td>Group Discussion - 7th March 2016</td>
                </tr>
                <tr>
                  <td>Level 3</td>
                  <td>Case Study/ Picture Perception/ Pseudo Codes Decoding / Video Synthesis/ - 9th March 2016</td>
                </tr>
                <tr>
                  <td>Level 4</td>
                  <td>Technical/ Management/ HR interviews-11th /12th /13th March</td>
                </tr>
              </table>
            </div>

            <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5cGstNlFEcUVPdUk/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p>
             
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}