{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>Mock UPSC</h2>
            <p class="item-intro">The Administrator!</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/poster/mock.png' %}" alt="image here">
            <p>Mock UPSC will test the aspirants preparing for civil services and avail them with an opportunity to judge their preparations at all three stages. This event will comprise of the preliminary test, mains and personal interview (by a panel of senior IAS/IPS).</p>

            <a href="http://goo.gl/forms/0HkX0DEYwZ" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
            <div class="table-responsive">
              <table class='table'>
                <tr>
                  <td>Level 1</td>
                  <td>Prelims - 6th March</td>
                </tr>
                <tr>
                  <td>Level 2</td>
                  <td>Mains - 9th March</td>
                </tr>
                <tr>
                  <td>Level 3</td>
                  <td>Personal Interview 12th/13th March(during the event at JEC)</td>
                </tr>
              </table>
            </div>

            <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5VGlLRXdBeWZXOFE/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p>
            <p class="pdflink"><a href="https://docs.google.com/spreadsheets/d/1t3atHtoYgRwPrwv984EYyPOVs2RsM5T6VjyNc5VbNuE/edit?usp=sharing" target="__blank">
                Click here to view the results of Level 1</a>
            </p> 

          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}