{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

             <h2>Humans of JEC</h2>
            <p class="item-intro">A pictorial story of life at JEC.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/photography.png' %}" alt="here">
            <p>The quintessence of a scenario lies in the eyes of the one who pictures it from one's own imagination.
And there is no better way of demonstrating that beauty than capturing it through the eyes of your camera lens.<br>

Helix gives you a chance to bring out your unique visions to the world through the art of photography. Let the silence speak, let the stills move into life.</p>

            <!-- <a href="http://goo.gl/forms/dborgsp8CT" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br> -->

         </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}