{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

             <h2>Humans of JEC</h2>
            <p class="item-intro">A pictorial story of life at JEC.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/photography.png' %}" alt="here">
            <p>The quintessence of a scenario lies in the eyes of the one who pictures it from one's own imagination.
And there is no better way of demonstrating that beauty than capturing it through the eyes of your camera lens.<br>

Helix gives you a chance to bring out your unique visions to the world through the art of photography. Let the silence speak, let the stills move into life.</p>

            <!-- <a href="http://goo.gl/forms/dborgsp8CT" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br> -->

            <p>The Photo Contest begins at 12:00am Feb 11, 2016 and ends at 12:00am on March 11, 2016.

Entries submitted before or after the Entry Period will not be eligible.

All images must be submitted though Email: <a href="mailto:helix@jecjabalpur.ac.in" target="_top">helix@jecjabalpur.ac.in</a> or through our Facebook 

Page <a href="www.facebook.com/helixjec">www.facebook.com/helixjec</a>, including all required fields.</p>


         </div>
         <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5TFpEcTVCdGUtcE0/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}