{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>My Smart City Jabalpur</h2>
            <p class="item-intro">Your ideas. Your smart city.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/smart_city.png' %}" alt="image here">
            <p>A platform for the aspiring engineers to paint the canvas of their city with their innovative ideas. Ideas, which can promote economic opportunities, better governance and provide physical, social & economical infrastructure
              in Jabalpur.</p>
            <a href="http://goo.gl/forms/dborgsp8CT" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}
