{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>Jabalpur Smart City Challenge</h2>
            <p class="item-intro">Your ideas. Your smart city.</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/poster/smart.png' %}" alt="image here">
            <p>A platform for the aspiring engineers to paint the canvas of their city with their innovative ideas. Ideas, which can promote economic opportunities, better governance and provide physical, social & economical infrastructure
              in Jabalpur.</p>
            <a href="https://drive.google.com/file/d/0B5iiTEqAQuR5Ql9FcVB0b0xsR0k/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
            <p>Level Registrations will close on the day before the starting of level 1.</p>
            <div class="table-responsive">
              <table class='table'>
                <tr>
                  <td>Level 1</td>
                  <td>Submission of idea (ppt) and judgement - 26th February.</td>
                </tr>
                <tr>
                  <td>Level 2</td>
                  <td>Iteration and enhancements submission and judgement- 5th March</td>
                </tr>
                <tr>
                  <td>Level 3</td>
                  <td>12th/13th March (during the event at JEC)</td>
                </tr>
              </table>
            </div>
            <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5Ql9FcVB0b0xsR0k/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}
