{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>Build A Business</h2>
            <p class="item-intro">Ready. Get set. "Start Up."</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/startup.png' %}" alt="image here">
            <p>Time to portray your ideas to the world. In the spirit of promoting entrepreneurship in our society, we aim at giving young entrepreneurs a platform to showcase their business ideas that generate a social impact with financial sustainability. Inspired by the recent Startup India mission of our Prime Minister, we put young minds to a scaffold through this competition by letting them explore their local/global market and grab the opportunities in our country which currently has the third largest number of startups in the world and an immensely fast growing economy.</p>
            <a href="http://goo.gl/forms/dborgsp8CT" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}