{% extends 'base.html' %}
{% load staticfiles %}
{% block event %}

<div id="works-section" class="text-center">

<div class="section-title wow fadeInDown" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Event Details Go Here -->

            <h2>Build A Business</h2>
            <p class="item-intro">Ready. Get set. "Start Up."</p>
            <img class="img-responsive img-centered" src="{% static 'app/img/startup.png' %}" alt="image here">
            <p>Time to portray your ideas to the world. In the spirit of promoting entrepreneurship in our society, we aim at giving young entrepreneurs a platform to showcase their business ideas that generate a social impact with financial sustainability. Inspired by the recent Startup India mission of our Prime Minister, we put young minds to a scaffold through this competition by letting them explore their local/global market and grab the opportunities in our country which currently has the third largest number of startups in the world and an immensely fast growing economy.</p>
            <a href="http://goo.gl/forms/dborgsp8CT" target="_blank"><button type="button" class="btn btn-primary"> Register </button></a><br><br>
            <p>Level Registrations will close on the day before the starting of level 1.</p>
            <div class="table-responsive">
              <table class='table'>
                <tr>
                  <td>Level 1</td>
                  <td>Submission of idea (ppt) and judgement - 23rd February.</td>
                </tr>
                <tr>
                  <td>Level 2</td>
                  <td>Iteration and enhancements submission and judgement- 2nd March</td>
                </tr>
                <tr>
                  <td>Level 3</td>
                  <td>Teams are required to complete a task given in Level 2. – 12th/13th March (during the event at JEC)</td>
                </tr>
              </table>
            </div>
            <p class="pdflink"><a href="https://drive.google.com/file/d/0B5iiTEqAQuR5NXh6b3hxM3NTTFU/view?usp=sharing" target="__blank">
                For more information about the rules, description and levels click here.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}